<%= render layout: "shared/molecules/auth_shell", locals: { title: t("devise_views.confirmations.new.title") } do %>
  <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "space-y-6" }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <%= render "devise/shared/form_field", f: f, field: :email, type: :email_field, label: t('email'), input_html: { autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) } %>

    <div class="actions">
      <%= render "shared/atoms/button", text: t('devise_views.confirmations.new.submit'), type: :submit, class_name: "flex w-full justify-center py-1.5 text-sm/6 mb-5" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
<% end %>
