<nav
  data-controller="disclosure"
  class="relative z-30 bg-gray-800 dark:bg-gray-800 dark:after:pointer-events-none dark:after:absolute dark:after:inset-x-0 dark:after:bottom-0 dark:after:h-px dark:after:bg-white/10"
>
  <div class="mx-auto max-w-7xl px-2 sm:px-6 lg:px-8">
    <div class="relative flex h-16 items-center justify-between">
      <div class="absolute inset-y-0 left-0 flex items-center sm:hidden">
        <!-- Mobile menu button-->
        <button
          type="button"
          aria-controls="mobile-menu"
          aria-expanded="false"
          data-action="click->disclosure#toggle"
          data-disclosure-target="button"
          class="relative inline-flex items-center justify-center rounded-md p-2 text-gray-400 hover:bg-white/5 hover:text-white focus:outline-2 focus:-outline-offset-1 focus:outline-indigo-500 hover:cursor-pointer"
        >
          <span class="absolute -inset-0.5"></span>
          <span class="sr-only">Open main menu</span>
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            data-slot="icon"
            aria-hidden="true"
            data-disclosure-target="openIcon"
            class="size-6"
          >
            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
          <svg
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="1.5"
            data-slot="icon"
            aria-hidden="true"
            data-disclosure-target="closeIcon"
            class="hidden size-6"
          >
            <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
          </svg>
        </button>
      </div>
      <div class="flex flex-1 items-center justify-center sm:items-stretch sm:justify-start">
        <div class="flex shrink-0 items-center">

        </div>
        <div class="hidden sm:ml-6 sm:block">
          <div class="flex space-x-4">
          </div>
        </div>
      </div>
      <div class="absolute inset-y-0 right-0 flex items-center pr-2 sm:static sm:inset-auto sm:ml-6 sm:pr-0">
        <% if !user_signed_in? && tenant_context_present? %>
        <div class="shrink-0">
            <%= render "shared/atoms/button_link", text: t("devise.sessions.new.sign_in"), path: new_user_session_path, variant: :secondary %>
          </div>
        <% end %>
        <% if user_signed_in? %>
          <div data-controller="dropdown" class="relative ml-3">
            <button data-action="click->dropdown#toggle" class="relative flex rounded-full focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-500 ml-3 hover:cursor-pointer">
              <%= image_tag current_user.avatar_url.present? ? current_user.avatar_url : "default_avatar.svg", alt: current_user.full_name, class: "size-8 rounded-full object-cover bg-gray-800 outline -outline-offset-1 outline-white/10" %>
            </button>
            <div data-dropdown-target="menu" class="hidden absolute right-0 mt-2 w-48 origin-top-right rounded-md bg-white py-1 shadow-lg ring-1 ring-black ring-opacity-5 focus:outline-none z-10">
            <%= render "shared/atoms/text_link", text: t("navbar.profile"), path: "#", base_class: "", class_name: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-700" %>
            <% if current_user.has_access_to_dashboard? %>
              <% current_user.get_tenants_dashboard_access_paths.each do |dashboard_path| %>
                <%= render "shared/atoms/text_link", text: "#{t("navbar.dashboard")} #{dashboard_path[:name]}", path: dashboard_path[:path], base_class: "", class_name: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-700" %>
              <% end %>
            <% end %>
              <% if current_user.is_super_admin? %>
                <%= render "shared/atoms/text_link", text: t("navbar.admin"), path: admin_tenants_path, base_class: "", class_name: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-700" %>
              <% end %>
              <%= render "shared/atoms/text_link", text: t("devise.registrations.new.log_out"), path: destroy_user_session_path, data: { turbo_method: :delete }, base_class: "", class_name: "block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:text-gray-700" %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div
    id="mobile-menu"
    data-disclosure-target="panel"
    class="hidden sm:hidden"
  >
    <div class="space-y-1 px-2 pt-2 pb-3">
    </div>
  </div>
</nav>
