<%
  details_title = local_assigns.fetch(:details_title, t("admin_tenants.courses.show.title"))
  details_description = local_assigns.fetch(:details_description, t("admin_tenants.courses.show.description"))
  back_path = local_assigns.fetch(:back_path, admin_tenants_courses_path(tenant_slug: current_tenant.slug))
%>

<%= form_with model: course, url: url, class: "mt-10" do |form| %>
  <%= render "shared/molecules/error_summary", resource: course %>

  <div class="space-y-12">
    <%= render layout: "shared/molecules/form_section",
      locals: {
        title: Course.human_attribute_name(:title),
        description: description
      } do %>
      <div class="sm:col-span-4">
        <%= render "shared/molecules/form_field", form: form, field: :title %>
      </div>

      <div class="sm:col-span-2">
        <%= render "shared/molecules/select_field",
          form: form,
          field: :status,
          label: Course.human_attribute_name(:status),
          choices: Course.statuses.keys.map { |status| [t("enums.statuses.#{status}"), status] } %>
      </div>

      <div class="col-span-full">
        <%= render "shared/molecules/form_field", form: form, field: :short_description %>
      </div>

      <div class="col-span-full">
        <%= render "shared/molecules/form_field", form: form, field: :description, type: :text_area, input_html: { rows: 4 } %>
      </div>
    <% end %>

    <%= render layout: "shared/molecules/form_section",
      locals: {
        title: details_title,
        description: details_description
      } do %>

      <div class="col-span-full">
        <%= render "shared/organisms/asset_uploader",
          form: form,
          field: :course_cover_image_asset,
          type: :image,
          label: Course.human_attribute_name(:course_cover_image_asset),
          description: t("shared.asset_uploader.image_only_hint"),
          accept: "image/png,image/jpeg,image/webp",
          current_asset: course.course_cover_image_asset %>
      </div>
    <% end %>
  </div>

  <%= render "shared/molecules/form_actions", back_path: back_path, submit_label: submit_label %>
<% end %>
