<%
  back_path = local_assigns.fetch(:back_path, admin_tenants_course_path(tenant_slug: current_tenant.slug, id: @course.slug))
%>

<%= form_with model: course_module, url: url, class: "mt-10" do |form| %>
  <%= render "shared/molecules/error_summary", resource: course_module %>

  <div class="space-y-12">
    <%= render layout: "shared/molecules/form_section",
      locals: {
        title: CourseModule.human_attribute_name(:title),
        description: description
      } do %>
      <div class="sm:col-span-4">
        <%= render "shared/molecules/form_field", form: form, field: :title %>
      </div>

      <div class="sm:col-span-2">
        <%= render "shared/molecules/form_field", form: form, field: :position, type: :number_field, input_html: { min: 0 } %>
      </div>

      <div class="sm:col-span-3">
        <%= render "shared/molecules/select_field",
          form: form,
          field: :status,
          label: CourseModule.human_attribute_name(:status),
          choices: CourseModule.statuses.keys.map { |status| [status.humanize, status] } %>
      </div>

      <div class="col-span-full">
        <%= render "shared/molecules/form_field", form: form, field: :description, type: :text_area, input_html: { rows: 4 } %>
      </div>
    <% end %>

    <%= render layout: "shared/molecules/form_section",
      locals: {
        title: t("admin_tenants.course_modules.form.asset_title"),
        description: t("admin_tenants.course_modules.form.asset_description")
      } do %>
      <div class="col-span-full">
        <%= render "shared/organisms/asset_uploader",
          form: form,
          field: :module_cover_image_asset,
          type: :image,
          label: CourseModule.human_attribute_name(:module_cover_image_asset),
          description: t("shared.asset_uploader.image_only_hint"),
          accept: "image/png,image/jpeg,image/webp",
          current_asset: course_module.module_cover_image_asset %>
      </div>
    <% end %>
  </div>

  <%= render "shared/molecules/form_actions", back_path: back_path, submit_label: submit_label %>
<% end %>
