<p><%= t('devise_views.mailer.reset_password_instructions.greeting', email: @resource.email) %></p>

<p><%= t('devise_views.mailer.reset_password_instructions.message') %></p>

<p><%= link_to t('devise_views.mailer.reset_password_instructions.action'), edit_password_url(@resource, reset_password_token: @token) %></p>

<p><%= t('devise_views.mailer.reset_password_instructions.ignore_message') %></p>
<p><%= t('devise_views.mailer.reset_password_instructions.footer') %></p>
